Repository fsvdr/dot-me: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write

Add custom fonts
  gatsby-browser.js
  src/fonts/trenda/Trenda-Black.ttf
  src/fonts/trenda/Trenda-Black.woff
  src/fonts/trenda/Trenda-Light.ttf
  src/fonts/trenda/Trenda-Light.woff
  src/fonts/trenda/Trenda-Semibold.ttf
  src/fonts/trenda/Trenda-Semibold.woff
  src/styles/global.css
  src/styles/settings/_typography.css
Due: eslint, stylelint, prettier --write

Add global styles
  src/components/layout.css
  src/components/layout.js
  src/styles/generic/_base.css
  src/styles/generic/_reset.css
  src/styles/global.css
  src/styles/settings/_color.css
  src/styles/settings/_typography.css
Due: eslint, stylelint, prettier --write

Update metadata
  gatsby-config.js
  package.json
Due: eslint, prettier --write

Update font files
  src/fonts/trenda/Trenda-Black.ttf
  src/fonts/trenda/Trenda-Black.woff
  src/fonts/trenda/Trenda-Heavy.ttf
  src/fonts/trenda/Trenda-Heavy.woff
  src/fonts/trenda/Trenda-Light.ttf
  src/fonts/trenda/Trenda-Light.woff
  src/fonts/trenda/Trenda-Regular.ttf
  src/fonts/trenda/Trenda-Regular.woff
  src/styles/settings/_typography.css
Due: stylelint, prettier --write

Implement base layout
  src/components/header.js
  src/components/layout.css
  src/components/layout.js
  src/styles/generic/_base.css
  src/styles/settings/_typography.css
Due: eslint, stylelint, prettier --write

Implement safe area inset
  src/components/layout.css
  src/components/layout.js
Due: eslint, stylelint, prettier --write

Update layout
  .eslintrc
  gatsby-config.js
  src/components/layout.js
  src/components/layout.module.css
  src/styles/settings/_typography.css
Due: eslint, stylelint, prettier --write

Implement landing hero
  src/pages/index.js
  src/pages/index.module.css
Due: eslint, stylelint, prettier --write

Implement landing introduction
  src/components/layout.js
  src/pages/index.js
  src/pages/index.module.css
  src/styles/generic/_base.css
  src/styles/settings/_color.css
Due: eslint, stylelint, prettier --write

Update copywrite
  src/pages/index.js
Due: eslint, prettier --write

Implement useParallax hook
  package.json
  src/hooks/useParallax.js
  yarn.lock
Due: eslint, prettier --write

Add parallax effect
  src/components/layout.js
  src/components/layout.module.css
  src/styles/generic/_base.css
Due: eslint, stylelint, prettier --write

Change parallax layers
  src/components/layout.js
  src/hooks/useParallax.js
  src/pages/index.js
  src/pages/index.module.css
Due: eslint, stylelint, prettier --write

Implement site nav menu
  src/components/image.js
  src/components/layout.js
  src/components/layout.module.css
  src/components/selfie.js
  src/components/site-nav.js
  src/components/site-nav.module.css
  src/hooks/useLifecycleTransition.js
  src/images/gatsby-astronaut.png
  src/images/selfie.jpg
  src/styles/global.css
  src/styles/settings/_color.css
  src/styles/settings/_depth.css
  src/styles/settings/_typography.css
Due: eslint, stylelint, prettier --write

Lock page scroll when menu is open
  src/components/site-nav.js
Due: eslint, prettier --write

Update selfie
  src/components/selfie.js
  src/components/site-nav.module.css
  src/images/selfie.jpg
  src/images/selfie_old.jpg
Due: eslint, stylelint, prettier --write

Improve a11y of menu
  src/components/layout.js
  src/components/layout.module.css
  src/components/site-nav.js
  src/components/site-nav.module.css
Due: eslint, stylelint, prettier --write

Lift site nav menu to root component
  gatsby-browser.js
  src/components/layout.js
  src/components/layout.module.css
  src/components/site-nav.js
  src/context/menu.js
  src/styles/settings/_depth.css
Due: eslint, stylelint, prettier --write

Update parallax and copy write
  src/pages/index.js
  src/pages/index.module.css
Due: eslint, stylelint, prettier --write

Migrate styles to styled-components
  gatsby-browser.js
  gatsby-config.js
  package.json
  src/App.styles.jsx
  src/components/layout.js
  src/components/layout.module.css
  src/components/site-nav.js
  src/components/site-nav.module.css
  src/pages/index.js
  src/pages/index.module.css
  src/pages/index.styles.js
  src/styles/generic/_base.css
  src/styles/generic/_reset.css
  src/styles/global.css
  src/styles/settings/_color.css
  src/styles/settings/_depth.css
  src/styles/settings/_typography.css
  src/typeface-trenda.css
  yarn.lock
Due: eslint, stylelint, prettier --write

Follow new branding direction
  gatsby-browser.js
  package.json
  src/App.styles.jsx
  src/components/footer.js
  src/components/ghost-text.js
  src/components/image.js
  src/components/layout.js
  src/components/selfie.js
  src/components/site-nav.js
  src/components/title.js
  src/context/menu.js
  src/fonts/trenda/Trenda Black It/Trenda-BlackIt.eot
  src/fonts/trenda/Trenda Black It/Trenda-BlackIt.html
  src/fonts/trenda/Trenda Black It/Trenda-BlackIt.svg
  src/fonts/trenda/Trenda Black It/Trenda-BlackIt.ttf
  src/fonts/trenda/Trenda Black It/Trenda-BlackIt.woff
  src/fonts/trenda/Trenda Black/Trenda-Black.eot
  src/fonts/trenda/Trenda Black/Trenda-Black.html
  src/fonts/trenda/Trenda Black/Trenda-Black.svg
  src/fonts/trenda/Trenda Black/Trenda-Black.ttf
  src/fonts/trenda/Trenda Black/Trenda-Black.woff
  src/fonts/trenda/Trenda/Trenda-Regular.eot
  src/fonts/trenda/Trenda/Trenda-Regular.html
  src/fonts/trenda/Trenda/Trenda-Regular.svg
  src/fonts/trenda/Trenda/Trenda-Regular.ttf
  src/fonts/trenda/Trenda/Trenda-Regular.woff
  src/hooks/useLifecycleTransition.js
  src/hooks/useViewportSize.js
  src/images/fsvdr.jpg
  src/pages/index.js
  src/pages/index.styles.js
  src/typeface-trenda.css
Due: eslint, stylelint, prettier --write

Implement site navigation component
  src/App.styles.jsx
  src/components/layout.js
  src/components/site-nav.js
  src/pages/index.js
  static/icons/external-link.svg
  static/icons/internal-link.svg
Due: eslint, prettier --write

Implement work section
  src/App.styles.jsx
  src/components/ghost-text.js
  src/components/title.js
  src/pages/index.js
  src/pages/index.styles.js
  static/icons/anchor.svg
Due: eslint, prettier --write

Implement contact and footer
  src/App.styles.jsx
  src/components/contact.js
  src/components/layout.js
  src/components/site-nav.js
  src/components/socials-nav.js
  src/pages/index.js
  src/pages/index.styles.js
  src/styles/ghost-text.js
  src/styles/section.js
  src/styles/title.js
Due: eslint, prettier --write

Optimize images
  src/images/computer.jpg
  src/images/fsvdr.jpg
  src/pages/index.js
Due: eslint, prettier --write

Implement curved text component
  src/components/curve-text.js
Due: eslint, prettier --write

Implement footer
  src/components/footer.js
Due: eslint, prettier --write

Move anchor decoration to its own component
  src/components/contact.js
  src/pages/index.js
  src/pages/index.styles.js
  src/styles/section.js
Due: eslint, prettier --write

Small changes
  src/components/contact.js
  src/components/site-nav.js
Due: eslint, prettier --write

Use static query because you forgot it exists
  src/components/contact.js
  src/pages/index.js
Due: eslint, prettier --write

Implement about page
  src/components/circle-text.js
  src/components/footer.js
  src/components/layout.js
  src/components/spotify-song.js
  src/fonts/trenda/Trenda It/Trenda-RegularIt.eot
  src/fonts/trenda/Trenda It/Trenda-RegularIt.html
  src/fonts/trenda/Trenda It/Trenda-RegularIt.svg
  src/fonts/trenda/Trenda It/Trenda-RegularIt.ttf
  src/fonts/trenda/Trenda It/Trenda-RegularIt.woff
  src/images/working.jpg
  src/pages/about.js
  src/pages/about.styles.js
  src/pages/index.styles.js
  src/pages/page-2.js
  src/styles/title.js
  src/typeface-trenda.css
Due: eslint, stylelint, prettier --write

Implement blog layout
  src/components/site-nav.js
  src/pages/blog.js
  src/pages/blog.styles.js
Due: eslint, prettier --write

Implement blog post template
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/circle-text.js
  src/templates/post.js
  src/templates/post.styles.js
  yarn.lock
Due: eslint, prettier --write

Pull blog posts for index
  src/pages/blog.js
Due: eslint, prettier --write

Implement custom 404 page
  src/pages/404.js
Due: eslint, prettier --write

Add favicon
  src/images/gatsby-icon.png
Due: none

Improve overall SEO
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  src/components/seo.js
  src/pages/about.js
  src/pages/blog.js
  src/pages/index.js
  src/templates/post.js
  src/utils/base-url.js
Due: eslint, prettier --write

Move page styles where they belong
  src/pages/about.js
  src/pages/blog.js
  src/pages/index.js
  src/styles/about.styles.js
  src/styles/blog.styles.js
  src/styles/index.styles.js
Due: eslint, prettier --write

Move style variables to CSS properties
  gatsby-browser.js
  src/App.styles.jsx
  src/components/circle-text.js
  src/components/contact.js
  src/components/footer.js
  src/components/layout.js
  src/components/site-nav.js
  src/components/socials-nav.js
  src/styles/about.styles.js
  src/styles/blog.styles.js
  src/styles/ghost-text.js
  src/styles/index.styles.js
  src/styles/section.js
  src/styles/title.js
  src/templates/post.styles.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,jsx}
  stylelint: any of: *.css
  prettier --write: any of: **/*.{js,jsx,json,md,css}
