Repository fsvdr/dot-me: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write

[POST] How to calculate driving travel distance and time
  src/posts/03-how-to-calculate-travel-distance-and-time/how-to-calculate-travel-distance-and-time.md
  src/posts/03-how-to-calculate-travel-distance-and-time/mapbox-dashboard.png
  src/posts/03-how-to-calculate-travel-distance-and-time/navigation-matrix.png
Due: prettier --write

Update project details
  src/pages/index.js
Due: eslint, prettier --write

Serve fonts from CDN
  .gitattributes
  gatsby-browser.js
  src/styles/typeface-trenda.css
  static/fonts/Trenda/Trenda Black It/Trenda-BlackIt.eot
  static/fonts/Trenda/Trenda Black It/Trenda-BlackIt.svg
  static/fonts/Trenda/Trenda Black It/Trenda-BlackIt.ttf
  static/fonts/Trenda/Trenda Black It/Trenda-BlackIt.woff
  static/fonts/Trenda/Trenda Black/Trenda-Black.eot
  static/fonts/Trenda/Trenda Black/Trenda-Black.svg
  static/fonts/Trenda/Trenda Black/Trenda-Black.ttf
  static/fonts/Trenda/Trenda Black/Trenda-Black.woff
  static/fonts/Trenda/Trenda It/Trenda-RegularIt.eot
  static/fonts/Trenda/Trenda It/Trenda-RegularIt.svg
  static/fonts/Trenda/Trenda It/Trenda-RegularIt.ttf
  static/fonts/Trenda/Trenda It/Trenda-RegularIt.woff
  static/fonts/Trenda/Trenda/Trenda-Regular.eot
  static/fonts/Trenda/Trenda/Trenda-Regular.svg
  static/fonts/Trenda/Trenda/Trenda-Regular.ttf
  static/fonts/Trenda/Trenda/Trenda-Regular.woff
  static/fonts/Trenda/typeface-trenda.css
Due: eslint, stylelint, prettier --write

Improve overall a11y
  src/components/circle-text.js
  src/components/contact.js
  src/components/footer.js
  src/components/site-nav.js
  src/components/socials-nav.js
  src/components/spotify-song.js
  src/pages/about.js
  src/pages/blog.js
  src/pages/index.js
  src/styles/title.js
  src/templates/post.js
  src/templates/post.styles.js
Due: eslint, prettier --write

Fix title
  src/posts/03-how-to-calculate-travel-distance-and-time/how-to-calculate-travel-distance-and-time.md
Due: prettier --write

Add image reveal animation
  src/components/image-reveal.js
  src/pages/about.js
  src/pages/index.js
Due: eslint, prettier --write

[Post] Search items that match query
  src/posts/04-search-items-that-match-query/search-items-that-match-query.md
Due: prettier --write

Update copywrite
  src/pages/index.js
Due: eslint, prettier --write

feat: Add fathom analytics
  gatsby-browser.js
Due: eslint, prettier --write

Migrate font URLs from DigitalOcean Spaces to Cloudflare R2
  src/styles/typeface-trenda.css
  src/styles/typeface-wattermellon.css
Due: stylelint, prettier --write

Use R2 public r2.dev URL for fonts
  src/styles/typeface-trenda.css
  src/styles/typeface-wattermellon.css
Due: stylelint, prettier --write

Fix CSS parallax and migrate off deprecated markdown plugin config
  astro.config.mjs
  src/styles/global.css
Due: stylelint, prettier --write

Switch tooling from Prettier to Biome
  .prettierrc
  astro.config.mjs
  biome.json
  bun.lock
  package.json
  src/components/Contact.astro
  src/components/GhostText.astro
  src/components/Section.astro
  src/components/Title.astro
  src/layouts/BaseLayout.astro
  src/pages/404.astro
  src/pages/[...slug].astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/pages/rss.xml.ts
  src/pages/share-thumbnail.png.ts
  src/plugins/rehype-figure-captions.mjs
  src/plugins/remark-inline-code.mjs
  src/plugins/remark-reading-time.mjs
  src/styles/global.css
  src/styles/typeface-trenda.css
  src/styles/typeface-wattermellon.css
Due: stylelint, prettier --write

Prepare for Cloudflare Workers Builds deployment
  .node-version
  README.md
  astro.config.mjs
Due: prettier --write

feat: Add PostHog analytics
  .claude/skills/integration-astro-hybrid/.posthog-wizard
  .claude/skills/integration-astro-hybrid/references/astro.md
  .claude/skills/integration-astro-hybrid/references/identify-users.md
  bun.lock
  package.json
  src/components/SocialsNav.astro
  src/components/posthog.astro
  src/layouts/BaseLayout.astro
  src/pages/blog.astro
  src/pages/index.astro
Due: prettier --write

Configure ui_host for PostHog
  src/components/posthog.astro
Due: none

chore: remove Fathom analytics
  src/layouts/BaseLayout.astro
Due: none

Path conditions:
  eslint: any of: *.{js,jsx}
  stylelint: any of: *.css
  prettier --write: any of: **/*.{js,jsx,json,md,css}
