Repository fsvdr/dot-me: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": [
    "eslint"
  ],
  "*.css": [
    "stylelint"
  ],
  "**/*.{js,jsx,json,md,css}": [
    "prettier --write",
  ]
}

Add RSS feed
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/seo.js
  src/pages/blog.js
  src/styles/blog.styles.js
  src/templates/post.js
  src/utils/base-url.js
  yarn.lock
Due: eslint, prettier --write

Add sitemap
  gatsby-config.js
  package.json
  src/components/footer.js
  src/components/seo.js
  yarn.lock
Due: eslint, prettier --write

Make wordmark a home link
  src/components/layout.js
Due: eslint, prettier --write

Improve a11y for pagination
  src/templates/post.js
Due: eslint, prettier --write

Add PWA capabilities
  gatsby-config.js
  src/images/favicon.png
Due: eslint, prettier --write

Various fixes
  gatsby-config.js
  src/components/site-nav.js
  src/pages/about.js
  src/pages/blog.js
Due: eslint, prettier --write

Add OG and Twitter cards meta
  src/components/seo.js
  src/templates/post.js
Due: eslint, prettier --write

Fixes, formatting and placeholders
  gatsby-config.js
  src/posts/00-dummy-post/dummy-post.md
  src/typeface-trenda.css
Due: eslint, stylelint, prettier --write

Change node engine to match Netlify's
  .eslintrc
  gatsby-browser.js
  package.json
  src/App.styles.jsx
  src/fonts/trenda/Trenda Black It/Trenda-BlackIt.eot
  src/fonts/trenda/Trenda Black It/Trenda-BlackIt.html
  src/fonts/trenda/Trenda Black It/Trenda-BlackIt.svg
  src/fonts/trenda/Trenda Black It/Trenda-BlackIt.ttf
  src/fonts/trenda/Trenda Black It/Trenda-BlackIt.woff
  src/fonts/trenda/Trenda Black/Trenda-Black.eot
  src/fonts/trenda/Trenda Black/Trenda-Black.html
  src/fonts/trenda/Trenda Black/Trenda-Black.svg
  src/fonts/trenda/Trenda Black/Trenda-Black.ttf
  src/fonts/trenda/Trenda Black/Trenda-Black.woff
  src/fonts/trenda/Trenda It/Trenda-RegularIt.eot
  src/fonts/trenda/Trenda It/Trenda-RegularIt.html
  src/fonts/trenda/Trenda It/Trenda-RegularIt.svg
  src/fonts/trenda/Trenda It/Trenda-RegularIt.ttf
  src/fonts/trenda/Trenda It/Trenda-RegularIt.woff
  src/fonts/trenda/Trenda-Heavy.ttf
  src/fonts/trenda/Trenda-Heavy.woff
  src/fonts/trenda/Trenda-Regular.ttf
  src/fonts/trenda/Trenda-Regular.woff
  src/fonts/trenda/Trenda-Semibold.ttf
  src/fonts/trenda/Trenda-Semibold.woff
  src/fonts/trenda/Trenda/Trenda-Regular.eot
  src/fonts/trenda/Trenda/Trenda-Regular.html
  src/fonts/trenda/Trenda/Trenda-Regular.svg
  src/fonts/trenda/Trenda/Trenda-Regular.ttf
  src/fonts/trenda/Trenda/Trenda-Regular.woff
  src/typeface-trenda.css
  yarn.lock
Due: eslint, stylelint, prettier --write

Configure Netlify Large Media
  .gitattributes
  .gitignore
  .lfsconfig
Due: none

Restore fonts on static folder
  gatsby-browser.js
  static/fonts/Trenda/Trenda Black It/Trenda-BlackIt.eot
  static/fonts/Trenda/Trenda Black It/Trenda-BlackIt.html
  static/fonts/Trenda/Trenda Black It/Trenda-BlackIt.svg
  static/fonts/Trenda/Trenda Black It/Trenda-BlackIt.ttf
  static/fonts/Trenda/Trenda Black It/Trenda-BlackIt.woff
  static/fonts/Trenda/Trenda Black/Trenda-Black.eot
  static/fonts/Trenda/Trenda Black/Trenda-Black.html
  static/fonts/Trenda/Trenda Black/Trenda-Black.svg
  static/fonts/Trenda/Trenda Black/Trenda-Black.ttf
  static/fonts/Trenda/Trenda Black/Trenda-Black.woff
  static/fonts/Trenda/Trenda It/Trenda-RegularIt.eot
  static/fonts/Trenda/Trenda It/Trenda-RegularIt.html
  static/fonts/Trenda/Trenda It/Trenda-RegularIt.svg
  static/fonts/Trenda/Trenda It/Trenda-RegularIt.ttf
  static/fonts/Trenda/Trenda It/Trenda-RegularIt.woff
  static/fonts/Trenda/Trenda/Trenda-Regular.eot
  static/fonts/Trenda/Trenda/Trenda-Regular.html
  static/fonts/Trenda/Trenda/Trenda-Regular.svg
  static/fonts/Trenda/Trenda/Trenda-Regular.ttf
  static/fonts/Trenda/Trenda/Trenda-Regular.woff
  static/fonts/Trenda/typeface-trenda.css
Due: eslint, stylelint, prettier --write

Implement share thumbnail page
  src/components/seo.js
  src/pages/share-thumbnail.js
  src/posts/00-dummy-post/dummy-post.md
  src/templates/post.js
Due: eslint, prettier --write

Add configuration file
  netlify.toml
Due: none

Use correct site url
  src/components/seo.js
  src/templates/post.js
Due: eslint, prettier --write

Implement share thumbnail function
  functions/share-thumbnail/package.json
  functions/share-thumbnail/share-thumbnail.js
  functions/share-thumbnail/yarn.lock
Due: eslint, prettier --write

Add netlify-lambda
  functions/share-thumbnail/package-lock.json
  functions/share-thumbnail/share-thumbnail.js
  functions/share-thumbnail/yarn.lock
  package.json
  yarn.lock
Due: eslint, prettier --write

Encode thumbnail params
  functions/share-thumbnail/share-thumbnail.js
  src/components/seo.js
  src/pages/share-thumbnail.js
  src/templates/post.js
Due: eslint, prettier --write

Optimizations
  .gitattributes
  netlify.toml
  package.json
  static/fonts/Trenda/Trenda Black It/Trenda-BlackIt.html
  static/fonts/Trenda/Trenda Black/Trenda-Black.html
  static/fonts/Trenda/Trenda It/Trenda-RegularIt.html
  static/fonts/Trenda/Trenda/Trenda-Regular.html
  yarn.lock
Due: prettier --write

Close browser after done
  functions/share-thumbnail/share-thumbnail.js
Due: eslint, prettier --write

Optimize font load
  gatsby-browser.js
Due: eslint, prettier --write

Opt out of styled components for globals
  gatsby-browser.js
  src/App.styles.jsx
  src/styles/global.css
Due: eslint, stylelint, prettier --write

Remove critical css plugin
  netlify.toml
  src/App.styles.jsx
Due: eslint, prettier --write

Opt out of styled components for global styles
  gatsby-browser.js
  netlify.toml
  src/styles/global.css
Due: eslint, stylelint, prettier --write

Add post #1
  src/posts/00-dummy-post/dummy-post.md
  src/posts/01-its-here-finally/fsvdr-v1.jpg
  src/posts/01-its-here-finally/fsvdr-v2.jpg
  src/posts/01-its-here-finally/fsvdr-v3.jpg
  src/posts/01-its-here-finally/fsvdr-v4.jpg
  src/posts/01-its-here-finally/fsvdr-v5.jpg
  src/posts/01-its-here-finally/its-here-finally.md
Due: prettier --write

Add support for images on Markdown posts
  gatsby-config.js
  package.json
  src/templates/post.styles.js
  yarn.lock
Due: eslint, prettier --write

Update work metadata
  src/pages/index.js
Due: eslint, prettier --write

Add Plausible analytics
  gatsby-browser.js
Due: eslint, prettier --write

Fix SEO urls
  src/components/seo.js
Due: eslint, prettier --write

Serve Plausible from same domain
  gatsby-browser.js
Due: eslint, prettier --write

Fix size constraint
  src/components/footer.js
Due: eslint, prettier --write

Fix photo size constraint
  src/components/contact.js
  src/styles/global.css
Due: eslint, stylelint, prettier --write

Fix position on size constraint
  src/components/layout.js
Due: eslint, prettier --write

Add support for standalone markdown pages
  gatsby-node.js
  src/pages/blog.js
  src/templates/post.js
Due: eslint, prettier --write

Add A Year in Series standalone page
  gatsby-node.js
  src/posts/a-year-in-series/a-year-in-series.md
  src/styles/global.css
  src/templates/post.styles.js
Due: eslint, stylelint, prettier --write

[Post] The Making Of: This Site
  src/posts/02-the-making-of-this-site/office-dog.png
  src/posts/02-the-making-of-this-site/poster-based-design.png
  src/posts/02-the-making-of-this-site/the-making-of-this-site.md
  src/posts/02-the-making-of-this-site/visual-language.png
Due: prettier --write

Add Wattermellon font
  gatsby-browser.js
  src/components/site-nav.js
  src/styles/global.css
  src/styles/typeface-wattermellon.css
Due: eslint, stylelint, prettier --write

Update a year in series page
  src/posts/a-year-in-series/a-year-in-series.md
Due: prettier --write

Exclude thumbnail page from sitemap
  gatsby-config.js
Due: eslint, prettier --write

Update styling
  src/posts/01-its-here-finally/its-here-finally.md
  src/posts/02-the-making-of-this-site/the-making-of-this-site.md
  src/posts/03-how-to-calculate-travel-distance-and-time/how-to-calculate-travel-distance-and-time.md
  src/posts/a-year-in-series/a-year-in-series.md
  src/templates/post.styles.js
Due: eslint, prettier --write

Optimize font loading
  src/components/layout.js
  src/hooks/useFOITStrategy.js
  src/pages/share-thumbnail.js
  src/styles/global.css
Due: eslint, stylelint, prettier --write
